h1, h2, h3 {
    font-family: "Lobster", cursive;
    color: red;
}

.navbar {
    background-color: rgb(74, 71, 71);
}

.jumbotron {
    margin: 0;
    padding: 30px;
    background-image: linear-gradient(to right, white);
    color: white;
}
.my-nav li {
    list-style-type:none;
    text-decoration:none;
}

img {
    max-width: 100%; 
    max-height: auto;
    object-fit: contain;
    }
    .container {
        max-width: 1140vmax;
        margin: 0px;    ;
    } 

    .carousel-inner{
        border-bottom: solid black 5px;
    }
    body {
        background-color: white;
    }
    iframe {
        margin-top: 51px;
        margin-bottom: 30px;
        margin-left: 70px;
        padding: 15px;
        }
    .visit{
        color: red;
        text-align: center;
        
        }
        .feedback{
            color: red;
        }
    

    .map-info {
        background-color: rgba(0, 0, 0, 0.5);
        color: white;
        margin: 10px;
        margin-left: 20px;
        
        text-align: center;
        
    }
    .contact{
        color: red;
        text-align: center;
    }
    #contact {
        background-color: rgba(0, 0, 0, 0.5);
    }
.email{
    color: white;
    text-align: center;
}
#where-to{
    font-size: 28px;
}
#meetTheFam {
    margin-bottom: 5px;
}
.familyInfo {
    font-size: 45px;
    border-bottom: 5px solid black;
}
#comunityFam{
    margin-top: 90px;
}
#pic1{
    border: 2px solid black;
    margin-top: 45px;
}
#pic2{
    border: 2px solid black;
    margin-bottom: 12px;
}
.menuLnk{
    text-align: center;
    margin-bottom: 60px;
}
.homep{
    
    font-size: 30px;
}
.est1{
    text-align: center;
    margin-top: 200px;
}
#estcon{
    font-size: 30px;
}
.est2{
    margin-top: 250px;
}